@import '../../../node_modules/mimo-website/dist/styles/shared/constants';
@import '../shared/constants';

#home {
    #core {
        border-top: none;
        padding: 0;

        main {
            padding: 0;

            article {
                margin-top: 0;
                display: flex;
                flex-direction: column;
                align-items: stretch;

                * {
                    max-width: initial; // Not relevant for pages without long form text
                }

                > h1.title {
                    display: none;
                }

                #splash {
                    margin-top: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 59px 0;
                    background-color: $color-jering;

                    div {
                        margin-top: 0;
                        max-width: initial;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        div {
                            height: 329px;
                            width: 243px;
                            background-color: $color-primary;
                            display: flex;
                            align-items: center;

                            svg {
                                height: 249px;
                                width: 184px;
                                margin-top: 0px;
                            }
                        }
                    }

                    h2 {
                        font-size: $font-size-7;
                        text-align: center;
                        margin-top: 23px;
                        color: $color-secondary-text;
                        line-height: 1;
                        font-weight: 700;
                    }

                    span {
                        color: $color-secondary-text;
                        font-size: $font-size-5;
                        margin-top: 23px;
                        text-align: center;
                        font-weight: 600;
                        line-height: 1;
                    }
                }

                .content {
                    @include horizontal-edge-margin;
                    display: flex;
                    justify-content: center;
                    margin-top: 59px;

                    .card-set {
                        max-width: 1200px;

                        #card-connect {
                            .card-content {
                                display: grid;
                                grid-template-columns: repeat(auto-fit, 28px);
                                justify-content: flex-start;
                                grid-column-gap: 14px;
                                grid-row-gap: 14px;
                                overflow: visible;

                                a {
                                    display: flex;
                                    will-change: transform; // Place icons in separate layers so that when they transform, the rest of the card doesn't get repainted (causes header and footer to get blurry)
                                    transition: transform $short-animation-duration $ease-out-quad;

                                    &:hover {
                                        transition: transform $short-animation-duration $ease-out-back-delayed;
                                        transform: scale(1.3333);
                                    }

                                    svg {
                                        height: 28px;
                                        width: 28px;
                                        fill: $color-secondary-text;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
